
/* Hide paragraphs until user answers survey questons and submits the form. */
#cannotbe {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}

#c{
  display: none;
}
