
/* Hide paragraphs until user answers survey questons and submits the form. */
#disqualified {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}

#c {
  display: none;
}

/* Style paragraphs that describe languages. */
.language {
font-style: italic;
padding-bottom: 30px;
}
